@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    scroll-behavior: smooth !important;
}
.banner{
    background-image: url(https://ibb.co/kJhf3RL);
}

.open-modal{
background-color: rgba(0, 0, 0, 0.5);

}

